In [1]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [17]:
df = pd.read_csv("static/2023.csv")
df

,_id,resale_price,year,month,timeseries_month,region,town,rooms,avg_storey,floor_area_sqm,remaining_lease,address,dist_to_marina_bay,latitude,longitude,postal_code,nearest_station_0,dist_to_station_0
0,156415,647000.0,2023,7,2023-07-01,West,Bukit Batok,4.0,2.0,95.0,93.833333,"296A, Bt Batok Street 22",14.39,1.344094,103.746409,651296,Bukit Batok MRT,0.65
1,156414,770000.0,2023,7,2023-07-01,West,Bukit Batok,4.0,35.0,92.0,94.583333,"293C, Bt Batok Street 21",13.62,1.345371,103.754989,653293,Bukit Batok MRT,0.73
2,156413,645000.0,2023,7,2023-07-01,West,Bukit Batok,4.0,8.0,92.0,94.666667,"293B, Bt Batok Street 21",13.73,1.345949,103.754248,652293,Bukit Batok MRT,0.62
3,156412,715000.0,2023,7,2023-07-01,West,Bukit Batok,4.0,20.0,92.0,94.666667,"293B, Bt Batok Street 21",13.73,1.345949,103.754248,652293,Bukit Batok MRT,0.62
4,156411,425000.0,2023,7,2023-07-01,West,Bukit Batok,3.0,2.0,67.0,94.750000,"441A, Bt Batok West Avenue 8",15.76,1.356105,103.739003,651441,Bukit Gombak MRT,1.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13349,145562,476000.0,2023,1,2023-01-01,North,Woodlands,4.0,5.0,102.0,74.166667,"734, Woodlands Circle",19.07,1.443892,103.797950,730734,Admiralty MRT,0.50
13350,145561,435000.0,2023,1,2023-01-01,North,Woodlands,4.0,2.0,90.0,79.583333,"765, Woodlands Circle",19.32,1.445900,103.796914,730765,Admiralty MRT,0.74
13351,145560,465000.0,2023,1,2023-01-01,North,Woodlands,4.0,11.0,102.0,74.166667,"744, Woodlands Circle",19.04,1.442834,103.795937,730744,Admiralty MRT,0.61
13352,145559,476000.0,2023,1,2023-01-01,North,Woodlands,4.0,5.0,103.0,74.250000,"738, Woodlands Circle",19.10,1.444047,103.797490,730738,Admiralty MRT,0.55
13353,145558,470888.0,2023,1,2023-01-01,North,Woodlands,4.0,11.0,96.0,74.583333,"627, Woodlands Avenue 6",17.87,1.433485,103.801180,730627,Admiralty MRT,0.79

## Errors

In [18]:
# Empty postal codes
df[df['postal_code']==000000]

Empty DataFrame
Columns: [_id, resale_price, year, month, timeseries_month, region, town, rooms, avg_storey, floor_area_sqm, remaining_lease, address, dist_to_marina_bay, latitude, longitude, postal_code, nearest_station_0, dist_to_station_0]
Index: []

In [ ]:
# Manually test API call
address = 'Choa Chu Kang Ctrl'
call = f'https://developers.onemap.sg/commonapi/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y'
response = requests.get(call)
response.raise_for_status()
data = response.json()
print(call)
pprint(data)

In [ ]:
# Manually test API call
address = '215 CHOA CHU KANG CENTRAL SINGAPORE 680215'
call = f'https://developers.onemap.sg/commonapi/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y'
response = requests.get(call)
response.raise_for_status()
data = response.json()
print(call)
pprint(data)

In [6]:
# Errorneous API call on address
marine_cres_df = df[df['address'].str.contains('Marine Cres')]

In [20]:
central = df['region']=='Central'
central_district_mrt = [
    "Bishan MRT",
    "Tiong Bahru MRT",
    "Redhill MRT",
    "Queenstown MRT",
    "Toa Payoh MRT",
    "Tai Seng MRT",
    "Bartley MRT",
    "Serangoon MRT",
    "Lorong Chuan MRT",
    "Bishan MRT",
    "Dhoby Ghaut MRT",
    "Bras Basah MRT",
    "Esplanade MRT",
    "Promenade MRT",
    "Nicoll Highway MRT",
    "Lavender MRT",
    "Mountbatten MRT",
    "Dakota MRT",
    "Paya Lebar MRT",
    "MacPherson MRT",
    "Marymount MRT",
    "Newton MRT",
    "Downtown MRT",
    "Rochor MRT",
    "Bugis MRT",
    "Promenade MRT",
    "Bayfront MRT",
    "City Hall MRT",
    "Downtown MRT",
    "Telok Ayer MRT",
    "Chinatown MRT",
    "Fort Canning MRT",
    "Bencoolen MRT",
    "Jalan Besar MRT",
    "Bendemeer MRT",
    "Geylang Bahru MRT",
    "Potong Pasir MRT",
    "Kaki Bukit MRT",
    "Eunos MRT",
    'Mattar MRT',
    'Tanjong Pagar MRT',
    'Little India MRT',
    'Outram Park MRT',
    'Holland Village MRT',
    'Telok Blangah MRT',
    'Ubi MRT',
    'Aljunied MRT',
    'Botanic Gardens MRT',
    'Labrador Park MRT',
    'Keppel MRT',
    'HarbourFront MRT',
    'Boon Keng MRT',
    'Farrer Park MRT',
    'Ang Mo Kio MRT',
    'Upper Thomson MRT',
    'Braddell MRT',
    'Kallang MRT',
    'Caldecott MRT',
    'Kembangan MRT',
    'Commonwealth MRT',
    'Buona Vista MRT',
    'Beauty World MRT',
    'One-North MRT',
    'Novena MRT',
    'Mayflower MRT',
    'Clarke Quay MRT',
    'King Albert Park MRT',
    'Haw Par Villa MRT'
    
]
central_district_mrt = set(central_district_mrt)

not_central_mrts = ~df['nearest_station_0'].isin(central_district_mrt)

In [21]:
# Build Error df of flats that are in central district but have nearest mrts elsewhere
error_df = df[central & not_central_mrts]
error_df

Empty DataFrame
Columns: [_id, resale_price, year, month, timeseries_month, region, town, rooms, avg_storey, floor_area_sqm, remaining_lease, address, dist_to_marina_bay, latitude, longitude, postal_code, nearest_station_0, dist_to_station_0]
Index: []

In [22]:
def get_location_data(address_df: pd.DataFrame, verbose=0):
    '''
    Function to carry out API call for Geodata
    ## Parameters
    address_df : pd.DataFrame
        DataFrame that contains a combination of ['block'] and ['street_name'] as ['address'], and ['town']
    verbose : int
        1 to verbose calls
    '''
    # Getting latitude, longitude, postal code
    def get_lat_long(address_df : pd.DataFrame, sleeptime : float =0.15):
        '''
        The actual API call to be called row-wise to get latitude, longitude, and postal code
        ## Parameters
        address_df : pd.DataFrame
            DataFrame that contains a combination of ['block'] and ['street_name'] as ['address'], and ['town']
        sleeptime : float
            Incorporates sleep time to not exceed a max of 250 calls per min
            Default 0.15s, not required if we are caching call
        '''
        
        # Lag time between calls - No longer needed with Cache, since we will not likely exceed the call limit
        # time.sleep(sleeptime)

        # API call
        try:
            address = address_df['address']
            if 'Jln Batu' in address:
                address = address.replace('Jln Batu', 'JALAN BATU DI TANJONG RHU')
            elif '27, Marine Cres' in address:
                address = address.replace('Marine Cres', 'MARINE CRESCENT MARINE CRESCENT VILLE')
            call = f'https://developers.onemap.sg/commonapi/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y'
            response = requests.get(call)
            response.raise_for_status()
            data = response.json()
            if verbose >0:
                print(call)
                pprint(data)

            # Returns a the results in string
            return data['results'][0]['LATITUDE'] + ',' + data['results'][0]['LONGITUDE'] + ' ' + data['results'][0]['POSTAL']
        
        except Exception as err:
            print(f'Error occurred - get_lat_long() API call: {err} on the following call:')
            pprint(call)
            return '0,0 0' # Still return 0 values

    def to_numpy_array(lat_long_df):
        # Build a numpy array from latitude and longitude
        combi = np.array([lat_long_df[0], lat_long_df[1]])
        return combi
    
    # This calls the API call function row wise
    position = address_df.apply(get_lat_long, axis=1)

    try:
        # Split the string into two columns (column 0 is the latitude and longitude, column 1 is the postal code)
        temp_df = position.str.split(expand=True)
        # Postal code
        temp_df.iloc[:,1] = temp_df.iloc[:,1].apply(lambda x: 0 if x=='NIL' else x)
        temp_df.iloc[:,1] = temp_df.iloc[:,1].astype('int')
        # Latitude and longitude split (by ,)
        lat_long_df = temp_df.iloc[:,0].str.split(pat=',', expand=True)
        lat_long_df = lat_long_df.astype('float')
        # Convert into numpy array, for faster matrix operations later
        numpy_array = lat_long_df.apply(to_numpy_array, axis=1)
        
    except Exception as err:
        print(f"Error occurred - Splitting data : {err}")
    else:
        geo_data_df = pd.concat([temp_df, lat_long_df, numpy_array], axis=1)
        geo_data_df.columns = ['lat_long', 'postal_code', 'latitude', 'longitude', 'numpy_array']
        return geo_data_df

In [23]:
geo_data_df= get_location_data(error_df[['address', 'town']])
display(geo_data_df.dtypes)
geo_data_df

lat_long        object
postal_code     object
latitude       float64
longitude      float64
numpy_array     object
dtype: object

,lat_long,postal_code,latitude,longitude,numpy_array
3409,"1.30402508947699,103.913501458863",440027,1.304025,103.913501,"[1.30402508947699, 103.913501458863]"
10306,"1.30402508947699,103.913501458863",440027,1.304025,103.913501,"[1.30402508947699, 103.913501458863]"
13624,"1.30402508947699,103.913501458863",440027,1.304025,103.913501,"[1.30402508947699, 103.913501458863]"
15799,"1.30402508947699,103.913501458863",440027,1.304025,103.913501,"[1.30402508947699, 103.913501458863]"
32546,"1.30402508947699,103.913501458863",440027,1.304025,103.913501,"[1.30402508947699, 103.913501458863]"